---
---

@import "{{ site.theme }}";

/* General site styling */
html body .site {
    max-width: 100% !important;
    padding: 0 20px;
}

html body .page-content {
    max-width: 100% !important;
    margin: 0 auto;
}

/* Graph/iframe container */
.wide-container {
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    min-height: 800px; /* Ensures sufficient height */
}

iframe {
    width: 100% !important;
    height: 70vh; /* Responsive height */
    border: none;
}

/* Images and videos */
img, video {
    display: block;
    max-width: 100% !important;
    height: auto !important;
}

@media screen and (max-width: 768px) {
    iframe {
        height: 50vh; /* Adjusts height for smaller screens */
    }
}