---
---

@import "{{ site.theme }}";

html body .site {
    max-width: 100% !important;
    padding: 0 50px;
}

html body .page-content {
    max-width: 2400px !important;
    margin: 0 auto;
}

iframe {
    width: 100% !important;
    height: 600px !important;
    border: none;
}

img, video {
    max-width: 100% !important;
    height: auto !important;
}